body {
	background-color: #F6F6F8; 
}

.row .input-group {
	font-family: Helvetica Neue;
}

.title {
	font-family: Helvetica Neue;
	color: black;
	border-radius: 0px;
	border-color: black; 
	text-align: center;
	align-items: center;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 1% 0;
}
.title h1 {
	font-size: 30px;
}
.topbar {
	height: 10%;
	margin-bottom: 10px;
	margin-top: 10px;
}

#leftimg {
	height: 80%;
	float: left;
}
#rightimg {
	height: 80%;
	float: right;
	margin: 0 0;
}

.bottomText {
	font-family: Helvetica Neue;
	color: black;
	padding: 0;
	border-radius: 0;
	margin: 0px;
	text-align: center;
}
.bottomText ul {
	list-style: none;
	margin-left: 0;
	padding: 0;
}

.houseListWrap {
	height: 88%;
	overflow: scroll;
	margin: 5px, 0px;
	padding: 0px;
}


#map {
	height:100%;
	width:100%;
	margin: 0;
	padding: 0;
}

.houseListWrap .list-group-item {
	padding: 4%;
	cursor: pointer;
	font-size: 22px;
	font-family: Helvetica;
	border-radius: 0;
}
.houseListWrap .list-group-item:hover {
	background: #ebebeb;
}
.form-check-input {
	border: 10px;
}
#tipwindow {
	text-align: center;
	height: 20%;
	font-size: 14px;
	padding: 1%;
	margin: 0;
}
#showall {
	height: 41%;
	padding: 10px;
	margin: 0;
	background-color: #ccdde8;
	color: black;
	border-color: white;
	border-radius: 0;
	font-size: 22px;
}
#showall:hover {
	background-color: grey;
	color: white;
	border-color: white;
	border-radius: 0;
}
#hideall {
	height: 41%;
	padding: 10px;
	background-color: #ead1c9;
	color: black;
	border-color: white;
	border-radius: 0;
	font-size: 22px;
}
#hideall:hover {
	background-color: grey;
	color: white;
	border-color: white;
	border-radius: 0;
}

.nav {
	display: inline-block;
	padding: 0;
	border-radius: 0;
	outline-color: #F3EAD7;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.125);
	margin: 0;
}
.nav li {
	padding: 0 13%;
	float: left;
	list-style: none;
	font-size: 20px;
}

.nav li:hover {
	background-color: #ebebeb;
}

.nav li a {
	font-family: Helvetica Neue;
	color:#690521;
}
.buttonwrap {
	height: 12%;
	margin: 0;
	padding: 0;
}
