body {
	background-color: #F6F6F8; 
	margin: 10px;
}

.row .input-group {
	font-family: Helvetica Neue;
}

.title {
	font-family: trajan;
	color: black;
	border-radius: 0px;
	border-color: black; 
	text-align: center;
	margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding: 1% 0;
}
.title h1 {
	font-size: 30px;
}

.bottomText {
	font-family: Helvetica Neue;
	color: black;
	padding: 1%;
	border-radius: 0;
	margin: 0px;
	text-align: center;
}
.bottomText ul {
	list-style: none;
}
.bottomText a {
	color: ;
}

.houseListWrap {
	height: 71.1%;
	overflow: scroll;
	margin: 5px, 0px;
	padding: 0px;
}

.mapWrapper {
	height: 80%;
}

#map {
	height:97%;
	width:100%;
}

.houseListWrap .list-group-item {
	padding: 9px;
	cursor: pointer;
	font-size: 14px;
	font-family: Helvetica;
	border-radius: 0;
}
.houseListWrap .list-group-item:hover {
	background: #ebebeb;
}
.form-check-input {
	border: 10px;
}
#showall {
	height: 50%;
	padding: 0;
	margin: 0;
	background-color: #ccdde8;
	color: black;
	border-color: white;
	border-radius: 0;
}
#showall:hover {
	background-color: grey;
	color: white;
	border-color: white;
	border-radius: 0;
}
#hideall {
	height: 50%;
	padding: 0;
	background-color: #ead1c9;
	color: black;
	border-color: white;
	border-radius: 0;
}
#hideall:hover {
	background-color: grey;
	color: white;
	border-color: white;
	border-radius: 0;
}

.nav {
	display: inline-block;
	padding: 0px;
	border-radius: 0;

	outline-color: #F3EAD7;
}

.nav li {
	padding: 0 10%;
	float: left;
	list-style: none;
	font-size: 20px;
	margin-bottom: 10px;
	text-align: center;
	overflow-wrap: center;
}

.nav li:hover {
	background-color: #ebebeb;
}

.nav li a {
	font-family: trajan;
	color:#690521;
}
.buttonwrap {
	height: 6.5%;
	margin: 0;
	padding: 0;
}
