body {
	background: linear-gradient(0deg, #690521, #8c082d 95%, #690521);
}

.row .input-group {
	font-family: 
}

h1 {
	font-family: trajan;
	text-align: center;
	color: #ebebeb;
	border-radius: 10px;
	border-color: #3a5163; 
}

